.logo-container {
 z-index: 0;
 width: 400px;
 height: 500px;
 position: absolute;
 top: 0;
 right: 15%;
 bottom: 0;
 left: auto;
 margin: auto;
 opacity: 1;

 svg {
  width: 100%;
  height: auto;
  bottom: 0;
  transform: rotateZ(30deg) !important;
 }

 .solid-logo {
  position: absolute;
  height: auto;
  //   right: auto;
  //   bottom: auto;
  //   left: 0;
  //   margin: auto;
  width: 100%;
  transform: rotateZ(30deg);
  z-index: 1;
  animation: fadeIn 2s 6s backwards;
 }
}

.svg-container {
 stroke: #48e3ff;
 stroke-width: 5;

 path {
  stroke-dasharray: 19963;
  stroke-dashoffset: 19963;
  animation: drawContourLogo 6s linear forwards;
 }
}

@keyframes drawContourLogo {
 100% {
  stroke-dashoffset: 0;
 }
}
