.contact-form {
 width: 100%;
 margin-top: 20px;

 ul {
  padding: 0;
  margin: 0;

  li {
   padding: 0;
   margin: 0;
   list-style: none;
   margin-bottom: 10px;
   overflow: hidden;
   display: block;
   position: relative;
   opacity: 0;
   animation: fadeInLeft 2s 2s forwards;
   clear: both;
  }

  li.half {
   width: 49%;
   margin-left: 2%;
   float: left;
   clear: none;

   &:first-child {
    margin-left: 0;
   }
  }
 }

 input[type='text'],
 input[type='email'] {
  width: 100%;
  border: 0;
  background: #115173;
  height: 50px;
  font-size: 16px;
  color: whitesmoke;
  padding: 0 20px;
  box-sizing: border-box;
 }

 textarea {
  width: 100%;
  border: 0;
  background: #115173;
  height: 50px;
  font-size: 16px;
  color: whitesmoke;
  padding: 20px;
  min-height: 150px;
  min-width: 100%;
  box-sizing: border-box;
 }

 .flat-button {
  color: #ff0066;
  background: 0 0;
  font: 11px;
  letter-spacing: 3px;
  text-decoration: none;
  padding: 8px 10px;
  border: 1px solid #ff0066;
  float: right;

  &:hover {
   color: white;
   background-color: #ff0066;
  }
 }
}

.info-map {
 position: absolute;
 background-color: #000;
 top: 370px;
 right: 30%;
 z-index: 1;
 width: 237px;
 padding: 20px;
 color: whitesmoke;
 font-family: 'Coolvetica';
 font-size: 17px;
 font-weight: 500;
 opacity: 0;
 animation: fadeIn 1s 1.5s forwards;

 span {
  color: #ff0066;
  display: block;
  font-size: 16px;
  font-weight: 100;
  padding-top: 10px;
 }
}

.map-wrap {
 float: right;
 width: 53%;
 height: 100%;
}

.leaflet-container {
 width: 100%;
 height: 100%;
 position: relative;
 opacity: 0;
 animation: backInRight 1.2s 1.5s forwards;
}
